body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  margin: 5% 20%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  overflow-y: auto;

  background-image: url('assets/images/universe.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

img {
  max-width: 70%;
  transform: scale(1.05);
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  filter: sepia(30%);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

button {
  padding: 10px 20px;
  background-color: #b148eaa1;
  color: #fff;
  border: 2px solid #a29c8c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #b333e2;
  transform: translateY(-2px);
}

.answer-box {
  background-color: rgba(0, 0, 0, 0.8);
  color: #00ff00;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
  transition: transform 0.3s ease;
  font-size: 2em;
  margin: 20px 0;
}

.answer-box:hover {
  transform: scale(1.05);
}

h1 {
  color: rgba(235, 212, 243, 0.912);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
  margin-top: 20px;
  color: rgba(235, 212, 243, 0.912);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
